{% extends "base.html" %}

{% block title %}
  MCQ QUIZ |Take Quiz
{% endblock %}

{% block body %}

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<!-- Main content -->
<div
    style="font-size: 50px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    MCQ QUIZ | EDIT
</div>
<hr>

    <section>
        {% for list in array%}
        <div style="font-size: 30px;">

            <b>Qno.{{list.qnum}}</b>
            <br>
            <b>{{list.question}}</b>
        </div>
            <div style="font-size: 30px; margin-top: 2rem;">
                <button type="submit" class="btn btn-outline-secondary" style="width: 66rem; height: 2.5rem; font-size: 1rem; left: 28px;">EDIT</button>
            </div>
            {% endfor %}

            <br>
        </form>
    </section>
</div>


{% endblock %}



{% block navbar%}
<li class="nav-item">
    <a href="/add" class="nav-link">
        <p style ="font-family: 'Orbitron', sans-serif;">
            Add Questions
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/editques" class="nav-link">
        <p style ="font-family: 'Orbitron', sans-serif;">
            Edit Questions
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/showall" class="nav-link">
        <p style ="font-family: 'Orbitron', sans-serif;">
            Check All Results
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/logout" class="nav-link">
        <p style ="font-family: 'Orbitron', sans-serif;">
            Logout
        </p>
    </a>
</li>
{% endblock %}

