
{% extends "base.html" %}
{% block title %}
MCQ QUIZ |Home
{% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
<div style="font-size: 50px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
   MCQ WEB APP
</div>
<hr>
this is mcq web application created
<br>
by using python-flask, my sql data base
<br>
for frontend - html , css , java script
<br>
flask -
SQLAlchemy
<br>
<br>
<br>
<h1>CREATED BY ASHUTOSH SINGH</h1>


{% endblock %}

{% block navbar%}
<li class="nav-item">
    <a href="/register" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p style ="font-family: 'Orbitron', sans-serif;">
        Register
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link" >
      <p style ="font-family: 'Orbitron', sans-serif;">
        Login
      </p>
    </a>
  </li>
{% endblock %}
